################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleApplication3/Debug
/ConsoleApplication3/Realase
/Debug
